<div id="<%= dom_id dependent %>">
  <p>
    <strong>User:</strong>
    <%= dependent.user_id %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= dependent.image_url %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= dependent.address %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= dependent.relationship %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= dependent.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= dependent.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= dependent.date_of_birth %>
  </p>

  <p>
    <strong>Immigration status:</strong>
    <%= dependent.immigration_status %>
  </p>

  <p>
    <strong>Country of citizenship:</strong>
    <%= dependent.country_of_citizenship %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= dependent.contact_info %>
  </p>

</div>
