<div id="<%= dom_id dependent %>" class="card-body">
  <h5 class="card-title">Profile Info.</h5>
  <p class="card-text">
    <% if dependent.image.attached? %>
      <%= image_tag dependent.image, class: "rounded-circle img-thumbnail mb-1 profile_image", alt:"Profile Image", style:"width: 100px; height: 100px;" %>
    <% else %>
      <%= image_tag "mustache.png", class: "rounded-circle img-thumbnail mb-1 profile_image", alt:"Default Profile Image", style:"width: 100px; height: 100px;" %>
    <% end %>
  </p>
  <p class="card-text"><strong>Address:</strong> <%= dependent.address %></p>
  <p class="card-text"><strong>Relationship:</strong> <%= dependent.relationship %></p>
  <p class="card-text"><strong>First Name:</strong> <%= dependent.first_name %></p>
  <p class="card-text"><strong>Last Name:</strong> <%= dependent.last_name %></p>
  <p class="card-text"><strong>Date of Birth:</strong> <%= dependent.date_of_birth %></p>
  <p class="card-text"><strong>Immigration Status:</strong> <%= dependent.immigration_status %></p>
  <p class="card-text"><strong>Country of Citizenship:</strong> <%= dependent.country_of_citizenship %></p>
  <p class="card-text"><strong>Contact Info:</strong> <%= dependent.contact_info %></p>
</div>
