<%= form_with(model: dependent, local: true) do |form| %>
  <% if dependent.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(dependent.errors.count, "error") %> prohibited this dependent from being saved:</h4>
      <ul>
        <% dependent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="mb-3">
    <%= form.label :image_url, class: "form-label" %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_area :address, class: "form-control", rows: 3 %>
  </div>

  <div class="mb-3">
    <%= form.label :relationship, class: "form-label" %>
    <%= form.text_field :relationship, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :date_of_birth, class: "form-label" %>
    <%= form.date_field :date_of_birth, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :immigration_status, class: "form-label" %>
    <%= form.text_field :immigration_status, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :country_of_citizenship, class: "form-label" %>
    <%= form.text_field :country_of_citizenship, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :contact_info, class: "form-label" %>
    <%= form.text_area :contact_info, class: "form-control", rows: 3 %>
  </div>

  <div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>


<% end %>
