<p style="color: green"><%= notice %></p>

<h1>Your Profiles</h1>

<div id="dependents">
  <% @dependents.each do |dependent| %>
    <%= dependent.image_url%>
    <br>
    <strong>Relationship:</strong> <%= dependent.relationship %>
    <p>
      <%= link_to "View Profile", dependent %>
    </p>
  <% end %>
</div>

<%= link_to "Add New Profile", new_dependent_path %>
