<p style="color: green"><%= notice %></p>

<%= render @dependent %>
<%= link_to "Edit profile", edit_dependent_path(@dependent) %>
<%= button_to "Delete Profile", @dependent, method: :delete %>

<br><br>

<h1>Documents</h1>
<% @dependent.documents.each do |document| %>
  <p>Document Title: <%= document.summary %></p>
<% end %>

<%= link_to "Upload Documents", new_dependent_document_path(@dependent), class: "btn btn-primary" %>
<br>
<%= link_to "Back", dependents_path %>
