<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <%= link_to image_tag('pathway_logo.png', alt: 'Pathway Logo', class: 'rounded-circle pathway_logo navbar-brand'), root_path%>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Forms", forms_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to "Edit Profile #{current_user.username}", edit_user_registration_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Family", dependents_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, data: {method: :delete }, class: "nav-link" %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>
