<div id="<%= dom_id document %>">
  <p>
    <strong>Profile:</strong>
    <%= document.profile_id %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= document.expiry_date %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= document.summary %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= document.status %>
  </p>

</div>
